* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

:root {
  --biru-brand: #2e5171;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: #edf8f9;
 
}

a {
  text-decoration: none;
}

nav {

    background-color: white;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
    width: 100% ;
    
   img {
           height: fit-content ;
           width: 100px;
   }
    
}

.nav-links {
    display: flex;
    height: 100% ;
    align-items: center;
 
    ul{
        display: flex;
        flex-direction: row ;
        gap: 30px ;
        list-style-type: none;
        color: var(--biru-brand);
    }
}



.hero {
  display: flex;
  padding: 40px;
  gap: 48px;
  align-items: center;
}

h1 {
  font-size: 48px;
  line-height: 100%;
  color: navy;
  margin-bottom: 20px;
}